In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')
pd.set_option('display.max_rows', 400)

In [5]:
# price table 데이터 불러오고 확인하기
data_price = pd.read_csv(r'Price_table.csv')
price = data_price.copy()
price.head()

    Maker    Genmodel Genmodel_ID  Year  Entry_price
0  Abarth  124 Spider         2_1  2016        29365
1  Abarth  124 Spider         2_1  2017        26665
2  Abarth  124 Spider         2_1  2018        26665
3  Abarth  124 Spider         2_1  2019        29515
4  Abarth         500         2_2  2009        13400

* Maker : 차의 브랜드, 메이커
* Genmodel : 차의 모델명
* Genmodel_ID : Genmodel의 ID
* Year : 판매된 연도
* Entry_price : 제일 싼 판매 가격

In [6]:
price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6333 entries, 0 to 6332
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Maker        6333 non-null   object
 1   Genmodel     6333 non-null   object
 2   Genmodel_ID  6333 non-null   object
 3   Year         6333 non-null   int64
 4   Entry_price  6333 non-null   int64
dtypes: int64(2), object(3)
memory usage: 247.5+ KB

null 타입은 없으니 괜찮아 보인다

In [52]:
# 다듬어진 속성인 Trim_table을 불러오고 확인한다
data = pd.read_csv(r'Trim_table.csv')
car = data.copy()
car.head()

,Genmodel_ID,Maker,Genmodel,Trim,Year,Price,Gas_emission,Fuel_type,Engine_size
0,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp 2d,2016,29365,148,Petrol,1368
1,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp Sequenziale...,2016,31365,153,Petrol,1368
2,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp 2d,2017,29365,148,Petrol,1368
3,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp Sequenziale...,2017,31365,153,Petrol,1368
4,2_1,Abarth,124 spider,124 SpiderScorpione 1.4 Turbo MultiAir 170hp 2d,2017,26665,148,Petrol,1368

* Genmodel_ID : Genmodel의 ID
* Maker : 차의 브랜드, 메이커
* Genmodel : 차의 모델명
* Trim : 옵션을 포함한 차의 모델명
* Year : 판매된 연도
* Price : 그 연도에 판매된 가격
* Gas_emission : 가스 배출
* Fuel_type : 연료의 타입
* Engine_size : 엔진 사이즈

In [7]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335562 entries, 0 to 335561
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Genmodel_ID   335562 non-null  object
 1   Maker         335562 non-null  object
 2   Genmodel      335562 non-null  object
 3   Trim          335562 non-null  object
 4   Year          335562 non-null  int64
 5   Price         335562 non-null  int64
 6   Gas_emission  335562 non-null  int64
 7   Fuel_type     335562 non-null  object
 8   Engine_size   335562 non-null  int64
dtypes: int64(4), object(5)
memory usage: 23.0+ MB

지금 상태로는 null 값은 없다.
여기에 Entry_price를 추가하고 싶다

In [55]:
car['Entry_price'] = np.nan

In [56]:
# 이제 Entry_price라는 컬럼이 생겼다!
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335562 entries, 0 to 335561
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Genmodel_ID   335562 non-null  object
 1   Maker         335562 non-null  object
 2   Genmodel      335562 non-null  object
 3   Trim          335562 non-null  object
 4   Year          335562 non-null  int64
 5   Price         335562 non-null  int64
 6   Gas_emission  335562 non-null  int64
 7   Fuel_type     335562 non-null  object
 8   Engine_size   335562 non-null  int64
 9   Entry_price   0 non-null       float64
dtypes: float64(1), int64(4), object(5)
memory usage: 25.6+ MB

이제 올바른 브랜드와 종류, 연도에 따른 Entry_price값을 적절하게 넣어보자 <br>
Trim_table의 처음부터 끝까지 읽으면서 <br>
Genmodel_ID, Year이 같은 차의 Entry_price를 찾아서 넣어준다

In [57]:
count = 0
for i in range(0, 335562):
    c = car.loc[i]
    condition = (price['Genmodel_ID'] == c['Genmodel_ID']) & (price['Year'] == c['Year'])
    filtered = price.loc[condition]
    car.iat[i, 9] = filtered['Entry_price']
    count += 1
    if count % 1000 == 0:
        print(f'{count}개 완료')
print('모두 완료!')

1000개 완료
2000개 완료
3000개 완료
4000개 완료
5000개 완료
6000개 완료
7000개 완료
8000개 완료
9000개 완료
10000개 완료
11000개 완료
12000개 완료
13000개 완료
14000개 완료
15000개 완료
16000개 완료
17000개 완료
18000개 완료
19000개 완료
20000개 완료
21000개 완료
22000개 완료
23000개 완료
24000개 완료
25000개 완료
26000개 완료
27000개 완료
28000개 완료
29000개 완료
30000개 완료
31000개 완료
32000개 완료
33000개 완료
34000개 완료
35000개 완료
36000개 완료
37000개 완료
38000개 완료
39000개 완료
40000개 완료
41000개 완료
42000개 완료
43000개 완료
44000개 완료
45000개 완료
46000개 완료
47000개 완료
48000개 완료
49000개 완료
50000개 완료
51000개 완료
52000개 완료
53000개 완료
54000개 완료
55000개 완료
56000개 완료
57000개 완료
58000개 완료
59000개 완료
60000개 완료
61000개 완료
62000개 완료
63000개 완료
64000개 완료
65000개 완료
66000개 완료
67000개 완료
68000개 완료
69000개 완료
70000개 완료
71000개 완료
72000개 완료
73000개 완료
74000개 완료
75000개 완료
76000개 완료
77000개 완료
78000개 완료
79000개 완료
80000개 완료
81000개 완료
82000개 완료
83000개 완료
84000개 완료
85000개 완료
86000개 완료
87000개 완료
88000개 완료
89000개 완료
90000개 완료
91000개 완료
92000개 완료
93000개 완료
94000개 완료
95000개 완료
96000개 완료
97000개 완료
98000개 완료
99000개 완료
100000개 완료
101000개 완료
102000개 완료
103000개 완료
104000개 완료
105000개 완료
106000개 완료
107000개 완료
108000개 완료
109000개 완료
110000개 완료
111000개 완료
112000개 완료
113000개 완료
114000개 완료
115000개 완료
116000개 완료
117000개 완료
118000개 완료
119000개 완료
120000개 완료
121000개 완료
122000개 완료
123000개 완료
124000개 완료
125000개 완료
126000개 완료
127000개 완료
128000개 완료
129000개 완료
130000개 완료
131000개 완료
132000개 완료
133000개 완료
134000개 완료
135000개 완료
136000개 완료
137000개 완료
138000개 완료
139000개 완료
140000개 완료
141000개 완료
142000개 완료
143000개 완료
144000개 완료
145000개 완료
146000개 완료
147000개 완료
148000개 완료
149000개 완료
150000개 완료
151000개 완료
152000개 완료
153000개 완료
154000개 완료
155000개 완료
156000개 완료
157000개 완료
158000개 완료
159000개 완료
160000개 완료
161000개 완료
162000개 완료
163000개 완료
164000개 완료
165000개 완료
166000개 완료
167000개 완료
168000개 완료
169000개 완료
170000개 완료
171000개 완료
172000개 완료
173000개 완료
174000개 완료
175000개 완료
176000개 완료
177000개 완료
178000개 완료
179000개 완료
180000개 완료
181000개 완료
182000개 완료
183000개 완료
184000개 완료
185000개 완료
186000개 완료
187000개 완료
188000개 완료
189000개 완료
190000개 완료
191000개 완료
192000개 완료
193000개 완료
194000개 완료
195000개 완료
196000개 완료
197000개 완료
198000개 완료
199000개 완료
200000개 완료
201000개 완료
202000개 완료
203000개 완료
204000개 완료
205000개 완료
206000개 완료
207000개 완료
208000개 완료
209000개 완료
210000개 완료
211000개 완료
212000개 완료
213000개 완료
214000개 완료
215000개 완료
216000개 완료
217000개 완료
218000개 완료
219000개 완료
220000개 완료
221000개 완료
222000개 완료
223000개 완료
224000개 완료
225000개 완료
226000개 완료
227000개 완료
228000개 완료
229000개 완료
230000개 완료
231000개 완료
232000개 완료
233000개 완료
234000개 완료
235000개 완료
236000개 완료
237000개 완료
238000개 완료
239000개 완료
240000개 완료
241000개 완료
242000개 완료
243000개 완료
244000개 완료
245000개 완료
246000개 완료
247000개 완료
248000개 완료
249000개 완료
250000개 완료
251000개 완료
252000개 완료
253000개 완료
254000개 완료
255000개 완료
256000개 완료
257000개 완료
258000개 완료
259000개 완료
260000개 완료
261000개 완료
262000개 완료
263000개 완료
264000개 완료
265000개 완료
266000개 완료
267000개 완료
268000개 완료
269000개 완료
270000개 완료
271000개 완료
272000개 완료
273000개 완료
274000개 완료
275000개 완료
276000개 완료
277000개 완료
278000개 완료
279000개 완료
280000개 완료
281000개 완료
282000개 완료
283000개 완료
284000개 완료
285000개 완료
286000개 완료
287000개 완료
288000개 완료
289000개 완료
290000개 완료
291000개 완료
292000개 완료
293000개 완료
294000개 완료
295000개 완료
296000개 완료
297000개 완료
298000개 완료
299000개 완료
300000개 완료
301000개 완료
302000개 완료
303000개 완료
304000개 완료
305000개 완료
306000개 완료
307000개 완료
308000개 완료
309000개 완료
310000개 완료
311000개 완료
312000개 완료
313000개 완료
314000개 완료
315000개 완료
316000개 완료
317000개 완료
318000개 완료
319000개 완료
320000개 완료
321000개 완료
322000개 완료
323000개 완료
324000개 완료
325000개 완료
326000개 완료
327000개 완료
328000개 완료
329000개 완료
330000개 완료
331000개 완료
332000개 완료
333000개 완료
334000개 완료
335000개 완료
모두 완료!

In [60]:
car = car.astype({'Entry_price':'int'})
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335562 entries, 0 to 335561
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Genmodel_ID   335562 non-null  object
 1   Maker         335562 non-null  object
 2   Genmodel      335562 non-null  object
 3   Trim          335562 non-null  object
 4   Year          335562 non-null  int64
 5   Price         335562 non-null  int64
 6   Gas_emission  335562 non-null  int64
 7   Fuel_type     335562 non-null  object
 8   Engine_size   335562 non-null  int64
 9   Entry_price   335562 non-null  int32
dtypes: int32(1), int64(4), object(5)
memory usage: 24.3+ MB

null 없이 잘 채워졌다

In [61]:
car

,Genmodel_ID,Maker,Genmodel,Trim,Year,Price,Gas_emission,Fuel_type,Engine_size,Entry_price
0,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp 2d,2016,29365,148,Petrol,1368,29365
1,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp Sequenziale...,2016,31365,153,Petrol,1368,29365
2,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp 2d,2017,29365,148,Petrol,1368,26665
3,2_1,Abarth,124 spider,124 Spider1.4 Turbo MultiAir 170hp Sequenziale...,2017,31365,153,Petrol,1368,26665
4,2_1,Abarth,124 spider,124 SpiderScorpione 1.4 Turbo MultiAir 170hp 2d,2017,26665,148,Petrol,1368,26665
...,...,...,...,...,...,...,...,...,...,...
335557,96_20,Volvo,Xc40,XC40 SUVR-Design Pro T4 AWD auto 5d,2018,35250,163,Petrol,1969,27350
335558,96_20,Volvo,Xc40,XC40 SUVR-Design Pro T5 AWD auto 5d,2018,36750,166,Petrol,1969,27350
335559,96_20,Volvo,Xc40,XC40 SUVR-Design T3 FWD 5d,2018,29200,144,Petrol,1477,27350
335560,96_20,Volvo,Xc40,XC40 SUVR-Design T4 AWD auto 5d,2018,33350,161,Petrol,1969,27350
335561,96_20,Volvo,Xc40,XC40 SUVR-Design T5 AWD auto 5d,2018,34850,164,Petrol,1969,27350

마지막으로 수정된 테이블을 Edited_Trim_table.csv 이라는 이름으로 저장해준다

In [58]:
car.to_csv('Edited_Trim_table.csv', index = False)